header {
    margin: 10px auto;
    padding: 5px 5px 5px 100px;

}
body {
    padding:3em;

}
.content{
    border-bottom-style:solid;
    border-bottom-color:ActiveBorder;
    border-width:thin;
}

h1 {
font-family: Calibri, 'Curlz MT','Felix Titling';
border-color: #f00;
color: #0094ff;
font-size: 72px;
font-style: italic;
}

h3{
    font-family: 'Comic Sans MS';
    font-size: 42px;
    font-weight: 900;
}
.navBar{
    text-align: left;
    vertical-align: top;
    font-size: 24px;
    font-weight: bold;
    float: left;
}
.map{

}